---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title} desc={frontmatter.description}>
    <div class="hero">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="cover">
    </div>
    <h1>{frontmatter.title}</h1>
    <div class="author">作者：{frontmatter.author}</div>
    <div>
        #{frontmatter.tags.join(',#')}
    </div>
    <div class="content">
        <slot />
    </div>
    <a href="/blog">文章列表</a>
</BaseLayout>
<style>
    h1 {
        margin-bottom: 30px;
    }
    .author {
        font-size: 14px;
        color: #4b4b4b;
        margin-bottom: 15px;
    }
    .hero {
        width: 100%;
        aspect-ratio: 21 / 9;
        margin-bottom: 30px;
        img {
            border-radius: 12px;
        }
    }
    .content {
        line-height: 1.5;
        margin-bottom: 30px;
        p {
            margin-bottom: 15px;
        }
        hr {
            margin-bottom: 15px;
        }
    }

</style>
