---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title} desc={frontmatter.description}>
    <h1>{frontmatter.title}</h1>
    <div>作者：{frontmatter.author}</div>
    <slot />
</BaseLayout>
