---
import Tag from "../components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout title={frontmatter.title} desc={frontmatter.description}>
    <div class="aspect-video rounded-lg overflow-hidden mb-5">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="w-full h-full object-cover">
    </div>
    <div>
        <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
        <div class="text-sm text-zinc-500 mb-4">作者：{frontmatter.author}</div>
        <div class="flex gap-2">
            {frontmatter.tags.map(tag=><Tag tag={tag}></Tag>)}
        </div>
        <div class="*:leading-7 border-y-2 py-3 my-3">
            <slot />
        </div>
    </div>
    <a href="/blog" class="inline-block px-5 py-1 bg-teal-400 rounded">文章列表</a>
</BaseLayout>
<!-- <style>
    h1 {
        margin-bottom: 30px;
    }
    .author {
        font-size: 14px;
        color: #4b4b4b;
        margin-bottom: 15px;
    }
    .hero {
        width: 100%;
        aspect-ratio: 21 / 9;
        margin-bottom: 30px;
        img {
            border-radius: 12px;
        }
    }
    .content {
        line-height: 1.5;
        margin-bottom: 30px;
        p {
            margin-bottom: 15px;
        }
        hr {
            margin-bottom: 15px;
        }
    }

</style> -->
